<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form [formGroup]="form" (submit)="aceptar()">
      <p class="mensaje">Ingrese los datos</p>
      <mat-form-field class="example-full-width">
        <mat-label>Código</mat-label>
        <input matInput placeholder="No" formControlName="id" />
      </mat-form-field>
      <br />
      <mat-form-field class="example-full-width">
        <mat-label>Nombre de la rutina recreativa</mat-label>
        <input
          matInput
          placeholder="Nombre de la rutina recreativa"
          formControlName="nombre"
        />
      </mat-form-field>
      <br />
      <mat-form-field class="example-full-width">
        <mat-label>Descripcion</mat-label>
        <input
          matInput
          placeholder="Descripcion"
          formControlName="descripcion"
        />
      </mat-form-field>

      <!-- <br /> -->

      <br />
      <div style="text-align: center">
        <button mat-raised-button color="primary">Aceptar</button>
        <button mat-raised-button color="warn" routerLink="/rutinas_recreativas">
          Cancelar
        </button>
        <br />
      </div>
      <p>{{ mensaje }}</p>
    </form>
  </body>
</html>
